---
import headerLangs from "../../public/header.json";

const locales = [
  { code: "en-us", name: "English[US]" },
  { code: "en-uk", name: "English[UK]" },
  { code: "fr", name: "Français" },
  { code: "it", name: "Italiano" },
  { code: "de", name: "Deutsch" },
  { code: "es", name: "Español" },
  { code: "pt-br", name: "Português do Brasil" },
  { code: "zh-hant", name: "繁體中文" },
  { code: "zh-hans", name: "简体中文" },
  { code: "ko-kr", name: "한국어" },
  { code: "en-asia", name: "English[Asia]" },
  { code: "ja-jp", name: "日本語" },
];
const currentLocale = Astro.url.pathname.split("/")[1] || "en-us";
const header =
  (headerLangs as Record<string, (typeof headerLangs)["en-us"]>)[
    currentLocale
  ] || headerLangs["en-us"];
---

<header
  class="flex justify-end absolute top-0 right-0 sm:left-0 z-10 sm:p-4 sm:h-auto h-screen w-screen sm:w-auto"
>
  <!-- hamburger -->
  <div
    id="hamburger"
    class="flex sm:hidden absolute top-0 right-0 w-10 h-10 flex-col justify-between items-center m-4 text-white font-[Teko] cursor-pointer z-10"
  >
    <div class="h-0.5 w-full bg-white"></div>
    <div class="h-0.5 w-full bg-white"></div>
    <span class="btn-text">MENU</span>
  </div>

  <!-- panel blur -->
  <div
    class="p-blur sm:hidden w-screen h-screen absolute top-0 left-0 -z-1 transparent backdrop-blur-sm"
  >
  </div>

  <!-- nav -->
  <!-- Nav horizontal (desktop) -->
  <ul
    class="nav-desktop hidden sm:flex flex-row justify-center gap-0 text-white text-[16px] p-0"
  >
    <li class="after:content-['-'] after:mr-1">
      <a
        href={`/${currentLocale}/#top`}
        class="hover:text-red font-[Teko] transition-colors">{header.top}</a
      >
    </li>
    <li class="after:content-['-'] after:mr-1">
      <a
        href={`/${currentLocale}/#topics`}
        class="hover:text-red font-[Teko] transition-colors">{header.topics}</a
      >
    </li>
    <li class="after:content-['-'] after:mr-1">
      <a
        href={`/${currentLocale}/#trailer`}
        class="hover:text-red font-[Teko] transition-colors">{header.trailer}</a
      >
    </li>
    <li class="after:content-['-'] after:mr-1">
      <a
        href={`/${currentLocale}/#about`}
        class="hover:text-red font-[Teko] transition-colors">{header.about}</a
      >
    </li>
    <li class="after:content-['-'] after:mr-1">
      <a
        href={`/${currentLocale}/#character`}
        class="hover:text-red font-[Teko] transition-colors"
        >{header.character}</a
      >
    </li>
    <li class="after:content-['-'] after:mr-1">
      <a
        href={`/${currentLocale}/#location`}
        class="hover:text-red font-[Teko] transition-colors"
        >{header.location}</a
      >
    </li>
    <li>
      <a
        href={`/${currentLocale}/#gameplay`}
        class="mr-2 hover:text-red font-[Teko] transition-colors"
        >{header.gameplay}</a
      >
    </li>
    <li>
      <div
        class="btn-buy relative bg-red cursor-pointer transition-colors hover:bg-red/80"
        style={`--pattern-url: url('/images/ui/site_pattern.png')`}
      >
        <a
          href={`/${currentLocale}/#buy`}
          class="font-[Teko] relative text-center px-4 w-full block sm:text-left"
          >{header.buy}</a
        >
      </div>
    </li>
  </ul>

  <!-- Nav vertical (mobile) -->
  <ul
    class="nav-mobile flex sm:hidden flex-col justify-center gap-4 text-white text-2xl px-8 bg-black/70"
  >
    <li>
      <a
        href={`/${currentLocale}/#top`}
        class="hover:text-red font-[Teko] transition-colors">{header.top}</a
      >
    </li>
    <li>
      <a
        href={`/${currentLocale}/#topics`}
        class="hover:text-red font-[Teko] transition-colors">{header.topics}</a
      >
    </li>
    <li>
      <a
        href={`/${currentLocale}/#trailer`}
        class="hover:text-red font-[Teko] transition-colors">{header.trailer}</a
      >
    </li>
    <li>
      <a
        href={`/${currentLocale}/#about`}
        class="hover:text-red font-[Teko] transition-colors">{header.about}</a
      >
    </li>
    <li>
      <a
        href={`/${currentLocale}/#character`}
        class="hover:text-red font-[Teko] transition-colors"
        >{header.character}</a
      >
    </li>
    <li>
      <a
        href={`/${currentLocale}/#location`}
        class="hover:text-red font-[Teko] transition-colors"
        >{header.location}</a
      >
    </li>
    <li>
      <a
        href={`/${currentLocale}/#gameplay`}
        class="mr-2 hover:text-red font-[Teko] transition-colors"
        >{header.gameplay}</a
      >
    </li>
    <li>
      <div
        class="btn-buy relative bg-red cursor-pointer transition-colors hover:bg-red/80"
        style={`--pattern-url: url('/images/ui/site_pattern.png')`}
      >
        <a
          href={`/${currentLocale}/#buy`}
          class="font-[Teko] relative text-center px-4 w-full block sm:text-left"
          >{header.buy}</a
        >
      </div>
    </li>
  </ul>
</header>

<style>
  #hamburger > div {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-mobile {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    transition: right 1s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 5;
  }

  .p-blur {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .btn-buy::after {
    background-image: var(--pattern-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }

  header.active {
    & #hamburger > div:first-child {
      transform: rotate(25deg) translateY(6px);
    }
    & #hamburger > div:nth-child(2) {
      transform: rotate(-25deg) translateY(-3px);
    }

    & #hamburger .menu {
      display: none;
    }

    & .p-blur {
      opacity: 1;
      pointer-events: auto;
    }

    & .nav-mobile {
      right: 0;
    }
  }
</style>

<script>
  const btnHamburger = document.querySelector("#hamburger");

  btnHamburger?.addEventListener("click", () => {
    const header = document.querySelector("header");
    const textBtnHamburger = document.querySelector("#hamburger .btn-text");
    header?.classList.toggle("active");
    if (textBtnHamburger) {
      if (header?.classList.contains("active")) {
        textBtnHamburger.textContent = "CLOSE";
      } else {
        textBtnHamburger.textContent = "MENU";
      }
    }
  });
</script>
