---
import Image from "astro/components/Image.astro";
import Layout from "../../layouts/Layout.astro";
import ScrollControls from "../../components/ScrollControls.astro";
import logoRE4 from "../../assets/images/common/logo-re.svg";
import ps5 from "../../assets/images/common/ps5_b.svg";
import ps4 from "../../assets/images/common/ps4_b.svg";
import xboxxs from "../../assets/images/common/xboxxs_b.svg";
import steam from "../../assets/images/common/steam_b.svg";
import separateWays from "../../assets/images/topics/bnr-separateways.jpg";
import mercenaries from "../../assets/images/topics/bnr-mercenaries.jpg";
import re4VRMode from "../../assets/images/topics/bnr-vrmode-re.jpg";
import pageTTlRE from "../../assets/images/topics/page_ttl-re.png";
import reTrilogyBnr from "../../assets/images/topics/re-trilogy-bnr.jpg";
import thumbGERE from "../../assets/images/topics/thumb-ge-re.jpg";
import thumbVRModeRE from "../../assets/images/topics/thumb-vrmode-re.jpg";
import thumbUpdateRE from "../../assets/images/topics/thumb-update-re.jpg";
import thumb23091301RE from "../../assets/images/topics/thumb-230913-01-re.jpg";
import thumb230817 from "../../assets/images/topics/thumb-230817.jpg";
import thumb230324 from "../../assets/images/topics/thumb-230324.jpg";
import thumb230310RE from "../../assets/images/topics/thumb-230310-re.jpg";
import thumb221021GL from "../../assets/images/topics/thumb-221021-gl.jpg";
import thumb22091501GL from "../../assets/images/topics/thumb-220915-01-gl.jpg";

const themesCollection = [
  {
    image: reTrilogyBnr,
    desc: "Este fantástico pack de ahorro incluye tres remakes de Resident Evil y contenido adicional.",
    date: ["22/11", "2024"],
  },
  {
    image: thumbGERE,
    desc: "¡Resident Evil 4 Gold Edition ya está disponible e incluye el modo de historia adicional Caminos Separados y el pack de DLC extra!",
    date: ["9/2", "2024"],
  },
  {
    image: thumbVRModeRE,
    desc: "¡El DLC del modo de RV ded Resident Evil 4 ya está disponible para PlayStation VR2!¿No tienes el juego principal? No pasa nada. ¡También hay una demo!",
    date: ["8/12", "2024"],
  },
  {
    image: thumbUpdateRE,
    desc: "Resident Evil 4 Titel-Update",
    date: ["8/12", "2023"],
  },
  {
    image: thumb23091301RE,
    desc: "¡Resident Evil 4 llegará a los dispositivos Apple en el invierno de 2023!",
    date: ["13/9", "2023"],
  },
  {
    image: thumb230817,
    desc: "¡Capcom ha confirmado su presencia en el Tokyo Game Show 2023!",
    date: ["17/08", "2023"],
  },
  {
    image: thumb230324,
    desc: '¡El modo de juego extra "Mercenarios" está disponible como contenido descargable gratuito!',
    date: ["7/4", "2023"],
  },
  {
    image: thumb230310RE,
    desc: "Nuevos diseños para la ropa oficial de Capcom en Amazon",
    date: ["10/3", "2023"],
  },
  {
    image: thumb221021GL,
    desc: "¡Ya puedes hacer tu reserva de Resident Evil 4! Echa un vistazo a la edición especial de coleccionista. ¡Está rebosante de cosas que harán las delicias de cualquier fan!",
    date: ["21/10", "2022"],
  },
  {
    image: thumb22091501GL,
    desc: "¡El videeo archivado de Resident Evil Showcase transmitido el 21 de octubre ya está disponible!",
    date: ["21/10", "2022"],
  },
];
---

<Layout>
  <!-- background video -->
  <div class="w-screen h-screen fixed top-0 left-0 -z-1 pointer-events-none">
    <video muted autoplay class="w-full h-full object-cover">
      <source
        src="/video/Resident Evil 4 - Announcement Trailer.mp4"
        type="video/mp4"
      />
      Su navegador no soporta el elemento de video.
    </video>
  </div>

  <!-- hero -->
  <section id="top" class="relative w-screen h-screen">
    <div
      class="text-white absolute top-1/6 right-0 -translate-y-1/6 w-50 text-center font-[Teko] bg-black/70"
      style={`--pattern-url: url('/images/common/site_pattern.png')`}
    >
      <div class="border-outside mb-0.5"></div>
      <div class="border-inside"></div>
      <span>
        ¡Más de <b class="text-red">10 millones</b> de unidades<br />vendidas en
        todo el mundo!
      </span>
      <div class="border-inside mb-0.5"></div>
      <div class="border-outside"></div>
    </div>

    <!-- info -->
    <div
      class="w-2xl absolute top-2/3 left-1/7 -translate-y-2/3 -translate-x-1/7"
    >
      <h1>
        <Image
          src={logoRE4}
          alt="Resident Evil 4"
          class="w-full h-auto mx-auto mt-20"
        />
      </h1>
      <span
        class="info-sub bg-red text-5xl font-[Teko] mt-2"
        style={`--pattern-url: url('/images/common/site_pattern.png')`}
        >Ya disponible</span
      >
      <div class="flex gap-6 mt-4">
        <Image src={ps5} alt="PlayStation 5" class="w-30 h-auto" />
        <Image src={ps4} alt="PlayStation 4" class="w-30 h-auto" />
        <Image src={xboxxs} alt="Xbox Series X/S" class="w-30 h-auto" />
        <Image src={steam} alt="Steam" class="w-30 h-auto" />
      </div>
    </div>

    <!-- follow me -->
    <div class="text-white absolute right-3 top-1/2 -translate-y-1/2 w-5">
      <span
        class="font-[Teko]"
        style="writing-mode: vertical-rl; letter-spacing: 0.1em;">siguenos</span
      >
      <hr />
      <div class="flex flex-col gap-1 mt-2">
        <a
          href="https://www.youtube.com/user/ResidentEvil"
          target="_blank"
          rel="noopener noreferrer"
          class="w-5 hover:text-white/70 transition-colors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-youtube"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z"
            ></path></svg
          >
        </a>
        <a
          href="https://twitter.com/RE_Games"
          target="_blank"
          rel="noopener noreferrer"
          class="w-5 hover:text-white/70 transition-colors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-x"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M8.267 3a1 1 0 0 1 .73 .317l.076 .092l4.274 5.828l5.946 -5.944a1 1 0 0 1 1.497 1.32l-.083 .094l-6.163 6.162l6.262 8.54a1 1 0 0 1 -.697 1.585l-.109 .006h-4.267a1 1 0 0 1 -.73 -.317l-.076 -.092l-4.276 -5.829l-5.944 5.945a1 1 0 0 1 -1.497 -1.32l.083 -.094l6.161 -6.163l-6.26 -8.539a1 1 0 0 1 .697 -1.585l.109 -.006h4.267z"
            ></path></svg
          >
        </a>
        <a
          href="https://www.facebook.com/residentevil/"
          target="_blank"
          rel="noopener noreferrer"
          class="w-5 hover:text-white/70 transition-colors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
            ></path></svg
          >
        </a>
        <a
          href="https://www.instagram.com/re_games/"
          target="_blank"
          rel="noopener noreferrer"
          class="w-5 hover:text-white/70 transition-colors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="100%"
            height="100%"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4l0 -8"
            ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
              d="M16.5 7.5v.01"></path></svg
          >
        </a>
      </div>
    </div>
  </section>

  <!-- url section with images -->
  <section class="flex justify-end pr-10 mt-40">
    <div class="flex gap-4 w-6xl">
      <div class="flex flex-col items-center gap-2">
        <span
          class="text-red font-[Teko]"
          style="writing-mode: vertical-lr; letter-spacing: 0.1em;"
          >BAJAR CONTENIDO</span
        >
        <span
          class="topics-arrow bg-red inline-block h-full max-h-[3.8vw] position relative w-px"
        ></span>
      </div>
      <div
        class="grid grid-cols-3 gap-2 flex-1"
        style={`--pattern-url: url('/images/common/site_pattern.png')`}
      >
        <a href="#separateways">
          <Image
            src={separateWays}
            alt="Separate Ways"
            class="w-full h-50 cursor-pointer hover:brightness-110 hover:drop-shadow-[0_0_10px_#bb1020] transition-all"
          />
          <div class="border-outside"></div>
        </a>
        <a href="#mercenaries">
          <Image
            src={mercenaries}
            alt="Mercenaries"
            class="w-full h-50 cursor-pointer hover:brightness-110 hover:drop-shadow-[0_0_10px_#bb1020] transition-all"
          />
          <div class="border-outside"></div>
        </a>
        <a href="#vrmode">
          <Image
            src={re4VRMode}
            alt="RE4 VR Mode"
            class="w-full h-50 cursor-pointer hover:brightness-110 hover:drop-shadow-[0_0_10px_#bb1020] transition-all"
          />
          <div class="border-outside"></div>
        </a>
      </div>
    </div>
  </section>

  <!-- section chainsaw demo -->
  <section class="flex justify-end pr-10 mt-20">
    <div class="w-6xl grid grid-rows-2 gap-2">
      <div class="flex gap-4">
        <Image
          src={pageTTlRE}
          alt="TTiRE"
          class="w-50 h-auto cursor-pointer hover:brightness-110 transition-all"
        />
        <div class="flex flex-col gap-2">
          <span class="text-red text-2xl font-bold">¡Demo ya disponible!</span>
          <span class="text-white"
            >No hay límites de tiempo, juega sin límite.</span
          >
        </div>
      </div>
      <div class="relative" style="height: fit-content;">
        <span
          class="h-0.5 w-[25vw] bg-red block absolute top-1/2 -left-90 -translate-y-1/2"
        ></span>
        <span class="text-red font-[Teko]">¡DEMO!</span>
        <span
          class="topics-arrow-h h-0.5 w-2/6 bg-red block absolute top-1/2 left-12 -translate-y-1/2"
        ></span>
      </div>
    </div>
  </section>

  <!-- section themes -->
  <section class="flex flex-wrap justify-end items-center gap-2">
    <div class="flex justify-between w-full">
      <h3 class="text-red font-[Teko] text-3xl">TEMAS</h3>
      <ScrollControls carouselSelector=".carousel" />
    </div>
    <div class="carousel w-6xl">
      {
        themesCollection.map((theme) => (
          <div class="carousel-card">
            <Image
              src={theme.image}
              alt="Theme Image"
              class="w-full h-auto cursor-pointer hover:brightness-110 transition-all pointer-events-none"
            />
            <div class="h-full flex flex-col justify-between font-[Teko] p-2">
              <p class="carousel-desc">{theme.desc}</p>
              <p class="carousel-date">
                <span>{theme.date[0]}</span>
                <small class="text-red">{theme.date[1]}</small>
              </p>
            </div>
            <div class="border-outside" />
          </div>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .border-outside {
    height: 2px;
    width: 100%;
    position: relative;
  }

  .border-inside {
    height: 1px;
    width: 100%;
    position: relative;
  }

  .border-outside:before,
  .border-inside:before {
    background-color: #bb1020;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .border-outside:after,
  .border-inside:after {
    background-image: var(--pattern-url);
    content: "";
    background-position: center;
    background-repeat: repeat;
    background-size: 1000px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 100%;
    top: 0;
    transform: translateX(-50%);
  }

  .border-inside:after {
    background-position: center right;
  }

  .info-sub {
    background-image: var(--pattern-url);
    background-position: left top;
    background-size: 1000px;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(187, 16, 32, 0);
    display: inline-block;
    position: relative;
    top: 0.06em;
    transform: scale(1, 1.2);
    filter: drop-shadow(5px 0 10px rgba(0, 0, 0, 0.8));
  }

  .topics-arrow:after {
    background-color: #bb1020;
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    bottom: 3px;
    height: 1px;
    right: -10px;
    transform: rotate(135deg);
  }

  .topics-arrow-h:after {
    background-color: #bb1020;
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    bottom: 5px;
    height: 2px;
    right: 0;
    transform: rotate(45deg);
  }

  .carousel {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
    scroll-behavior: smooth;

    & .carousel-card {
      width: 300px;
      height: 320px;
      background: #181818;
      box-shadow: 0 2px 12px #0008;
      scroll-snap-align: start;
      display: inline-flex;
      flex-direction: column;
      margin: 2em;
      margin-left: 0;
    }

    & .carousel-desc {
      color: #fff;
      font-size: 1rem;
      word-break: break-word;
      white-space: normal;
      word-break: break-word;
      overflow-wrap: anywhere;
    }

    & .carousel-date {
      display: flex;
      color: #bb1020;
      flex-wrap: wrap;
      flex-grow: 0;
      align-items: center;
      font-size: min(4em, 30px);
      line-height: 1.2;
      position: relative;

      & span {
        position: relative;
        top: 0.075em;
      }

      & small {
        font-size: 0.5em;
        margin-right: 0.2em;
        writing-mode: vertical-lr;
        line-height: 1;
      }
    }
  }

  .carousel.dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const carousel = document.querySelector(".carousel");
    if (!carousel) return;

    let isDown = false;
    let startX;
    let scrollLeft;

    const stratDragging = (e) => {
      isDown = true;
      startX = e.pageX - carousel.offsetLeft;
      scrollLeft = carousel.scrollLeft;
      carousel.classList.add("dragging");
    };

    const stopDragging = (e) => {
      isDown = false;
      carousel.classList.remove("dragging");
    };

    const move = (e) => {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - carousel.offsetLeft;
      const scroll = x - startX;
      carousel.scrollLeft = scrollLeft - scroll;
    };

    carousel.addEventListener("mousedown", stratDragging, false);
    carousel.addEventListener("mousemove", move, false);
    carousel.addEventListener("mouseup", stopDragging, false);
    carousel.addEventListener("mouseleave", stopDragging, false);
  });
</script>
